/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 217;
  --primary-color: hsl(var(--hue-color), 89%, 60%);
  --secondary-color: hsl(var(--hue-color), 56%, 12%);
  --tertiary-color: #00b2ca;
  --link-color: none;
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--secondary-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--primary-color);
}

.section {
  padding-top: 1%;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--primary-color);
}

.nav__logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-family: 'Comforter Brush', cursive;
}

.nav__toggle {
  color: var(--secondary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.router-link-active.router-link-exact-active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--primary-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 1rem 0;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__title-color {
  color: var(--primary-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.home__social-icon:hover {
  color: var(--primary-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 4%;
  width: 300px;
}

.home__button {
  margin-top: var(--mb-5);
}

.home__button a {
  margin: var(--mb-2) var(--mb-2) 0 0;
}

/*BUTTONS*/
.button {
  display: inline-block;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  border: 1px solid;
}

.button-primary {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.button-primary:hover {
  background-color: var(--link-color);
  color: rgb(29, 29, 29);
  border-color: var(--secondary-color);
}

.button-tertiary {
  background-color: var(--tertiary-color);
  color: #fff;
  border-color: var(--tertiary-color);
}

.button-tertiary:hover {
  background-color: var(--link-color);
  color: rgb(29, 29, 29);
  border-color: var(--secondary-color);
}

.button-link {
  background-color: var(--link-color);
  color: rgb(29, 29, 29);
  border-color: var(--link-color);
}

.button-link:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about {
  margin-bottom: var(--mb-4);
}

.about__container {
  row-gap: 2rem;
}

.about__desc {
  row-gap: 2rem;
  margin-top: var(--mb-6);
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

/* ===== blog =====*/
.blog {
  padding: 2rem;
  background-color: var(--tertiary-color);
  color: #FFF;
}

.blog__container {
  row-gap: 2rem;
  margin-top: var(--mb-5);
}

.blog__title {
  font-size: var(--h2-font-size);
  text-align: center;
}

.blog__platform {
  margin: var(--mb-2) 0;
  padding-bottom: 0.8rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.blog__link ul li {
  padding: 0.7rem 0 0.7rem 0.7rem;
}

.blog__link {
  margin: 0 1.3rem;
}

.blog__link a {
  color: #FFF;
}

.blog__link ul li {
  font-size: 1.1rem;
  display: block;
}

.blog__link a:hover {
  background: rgba(0, 0, 0, 0.15);
}

/* ===== achievement =====*/
.achievement__container {
  text-align: center;
}

.achievement__caption {
  text-align: center;
  padding: 1rem 0;
}

.achievement__content {
  padding: 0 2rem;
}

.achievement__container ul li {
  padding: 18px 0;
}

.achievement__container img {
  transition: 1s;
}

.achievement__container img:hover {
  transform: scale(1.1);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: var(--primary-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--primary-color);
}

.skills__names {
  display: flex;
  align-items: center;
}


.skills__img {
  border-radius: .5rem;
}

/* ===== PROJECT =====*/
.project__container {
  row-gap: 2rem;
}

.projectdetail__container {
  text-align: center;
}

.projectdetail__file {
  margin: var(--mb-4) 0;
  text-align: center;
}

.projectdetail__file img {
  border-radius: 0.8rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.project__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
  max-height: 200px;
  position: relative;
}

.project__link {
  padding: 20% 2rem;
  text-align: center;
  color: #FFF;
  position:absolute;
  top:0;
  background: rgba(0,0,0,0.6);
  bottom:0;
  width:100%;
  transition: 1s;
}

.project__link:hover {
  padding-top: 15%;
}

.project__link__title {
  margin: 0;
  width: 100%;
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--secondary-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.footer__title {
  font-size: 4rem;
  font-family: 'Comforter Brush', cursive;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* Additional CSS */
.bg-timeline {
  color: #FFF;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background: hsl(217deg 22% 44%);
  border-radius: 0.5rem;
}

.timeline {
  padding: 5px 45px;
}

.timeline ul {
  position: relative;
}

.timeline ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.timeline li {
  position: relative;
  margin: 100px 35px;
  width: 100%;
  list-style: none;
  line-height: 25px;
}

.timeline li>span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: -25px;
  height: 110%;
  border: 2px solid #fff;
  border-radius: none;
}

.timeline li>span::before,
.timeline li>span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 3px solid #fff;
  border-radius: 50%;
  left: -7px;
  background: #4e9bfa;
}

.timeline li>span::before {
  top: -15px;
}

.timeline li>span::after {
  top: 100%;
}

.timeline li div:nth-child(2) {
  font-size: 1.2em;
}

.timeline li div:nth-child(3){
  font-size: 1em;
}

.timeline li div:nth-child(4) {
  font-size: 1em;
  font-style: italic;
  color: #bfbfbf;
}

.timeline li .year span {
  position: absolute;
  font-size: 1em;
  left: -85px;
  width: 40px;
  text-align: right;
}

.timeline li .year span:first-child {
  top: -20px;
}

.timeline li .year span:last-child {
  top: 100%;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }

  .home__img {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 300px;
    bottom: 25%;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .blog__container {
    grid-template-columns: repeat(3, 1fr);
    text-align: initial;
  }
  
  .achievement__container {
    grid-template-columns: repeat(3, 1fr);
    text-align: initial;
  }

  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }

  .experience__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }

  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }

  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--secondary-color);
  }

  .home {
    padding: 8rem 0 2rem;
  }

  .home__img {
    width: 400px;
    top: 0;
  }

  .about__container {
    padding-top: 2rem;
  }

  .about__img img {
    width: 300px;
  }

  .achievement__container {
    padding-top: 2rem;
  }

  .skills__container {
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .experience__container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
  }

  .project__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .blog__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;  
    margin-right: auto;
  }

  .home {
    padding: 4rem 0 0 0;
  }

  .home__img {
    width: 450px;
  }
}